<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV File Uploader</title>
</head>
<body>

    <h1>CSV File Uploader</h1>
<!-- 
    <form class="container mt-5" method="post" enctype="multipart/form-data">
        <h1>Hello, File Uploader</h1> -->

        <!-- {% csrf_token %} -->

        <!-- <label for="csvFile">Select a CSV file:</label>
        <input type="file" name="File" class="mt-5">
        <button type="submit" class="btn btn-success">Submit</button>
    </form> -->


    <!-- <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload CSV</button>
    </form> -->


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Upload</button>
    </form>

</body>
</html>